venv/
#dataset/
output/
#runs/
TestVideo/

*.zip
*.jpg
*.jpeg
*.DS_Store
*.txt
*.log
*.csv

dataset/frames/
/EngineTopUPVideo/
segmentation/train/
segmentation/coco_converted/
segmentation_split/

videoforclassification/